{# Example configuration can be found here: http://cloudinit.readthedocs.io/en/latest/topics/examples.html #}
#cloud-config
users:
  - name: {{ user }}
    ssh-authorized-keys:
    - {{ id_rsa_pub }}
    sudo: ALL=(ALL) NOPASSWD:ALL
{% if host_image.os == 'rhel' %}
rh_subscription:
    username: {{ rhsm_username }}
    password: {{ rhsm_password }}
{% endif %}